---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import VideoHero from '../components/VideoHero.astro';
import About from '../components/About.astro';
import ImagePair from '../components/ImagePair.astro';
import Services from '../components/Services.astro';
import Collections from '../components/Collections.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="BrandName | Corporate Landing Page">
	<Header />
	<main>
		<VideoHero />
		<About />
		<ImagePair />
		<Services />
		<Collections />
		<Contact />
	</main>
	<Footer />
</Layout>