---
// src/layouts/Layout.astro
import '../styles/global.css';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="A minimal and responsive corporate landing page" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicons.svg" />
		<title>{title}</title>

		<!-- YENİ EKLENEN FONT LİNKLERİ -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
        <!-- FONT LİNKLERİ BİTTİ -->
	</head>
	<body>
		<slot />
	</body>
</html>